:root {
    --body-bg: #FCFCFC;
    --secondary-font: "Roboto";
    --normal-weight: 400;
    --medium-weight: 500;
    --strong-weight: 600;
    --typography-color: #555;
    --primary-color: #816bab;
    --secondary-color: #f7b748;
    --primary-hover: #674e96;
    --primary-dark: #523c7f;
    --dark-color: #343a40;
    --gray-color: #868e96;
    --component-color: var(--dark-color);
    --headlines-color: #1c1c1c;
    --line-height: 1.625;
    --form-gutter: 1.25rem;
    --form-border: 1px solid rgba(0, 0, 0, 0.1);
    --form-radius: 5px;
    --form-shadow: inset 0 0 5px rgba(0, 0, 0, 0.03);
    --form-height: 2.5rem;
    --form-height-large: 3rem;
    --form-padding: 0.9375rem;
    --form-padding-large: 1.25rem;
    --form-darker-bg: #ebebeb;
}
