.pagination {
    padding: 0;
    margin: 0;
    list-style: none;
    word-spacing: -5px;

    &.separate {
        word-spacing: 10px;
    }

    li {
        display: inline-block;
        word-spacing: normal;
        padding: 0 12px;
        height: var(--form-height);
        line-height: var(--form-height);
        font-size: 15px;
        color: var(--typography-color);
        background: #ffffff;
        text-align: center;
        font-weight: var(--strong-weight);
        border: var(--form-border);
        transition: all .5s linear;
    }

    li.current,
    li.active,
    li:hover {
        background: var(--primary-color);
        color: #ffffff;
    }

    li a,
    li span {
        display: block;
        color: inherit;
        padding: 0 .9375rem;
        margin: 0 -.9375rem;
    }
}
