.scroll__custom {
    overflow: visible !important;
    position: relative;
}

.fakeScroll__wrap {
    position: relative;
    z-index: 1;
    height: 100%;
    overflow: hidden;

    .fakeScroll__content {
        position: relative;
        overflow: auto;
        width: calc(100% + 18px);
        height: 100%;
        right: 0;
    }
}

.fakeScroll__track {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 9px;
    cursor: default;
    background-color: rgba(0, 0, 0, .5);
}

.fakeScroll__bar {
    position: relative;
    background: var(--secondary-color);
    width: 100%;
    right: 0;
    z-index: 0;
    transition: background .1s;
}
