.copyrights {
    background: #1b1b1b;
    color: #ffffff;
    padding: 10px 0;

    .container {
        line-height: 32px;
    }

    p  {
        display: inline-block;
        margin: 0;
        font-size: 15px;
        vertical-align: middle;
        text-transform: uppercase;
    }
}
